[mysql]
socket                              = {{.Socket}}
default-character-set               = utf8mb4

[mysqld]
user                                = {{.User}}
datadir                             = {{.DataDir}}
basedir                             = {{.BaseDir}}
tmpdir                              = {{.TmpDir}}
socket                              = {{.Socket}}
pid-file                            = {{.PIDFile}}
server_id                           = {{.ServerID}}
port                                = {{.Port}}
log_error                           = {{.ErrLog}}
slow_query_log_file                 = {{.SlowLog}}
long_query_time                     = 1
slow_query_log                      = 1
log_bin                             = {{.BinLog}}
log_bin_index                       = {{.BinLogIndex}}
relay_log                           = {{.RelayLog}}
relay_log_index                     = {{.RelayLogIndex}}
general_log                         = 0
general_log_file                    = {{.GeneralLog}}
lower_case_table_names              = 1
character_set_server                = utf8
collation_server                    = utf8_general_ci
innodb_buffer_pool_size             = {{.InnoDBBufferPoolSize}}G
innodb_data_file_path               = ibdata1:1024M:autoextend
innodb_buffer_pool_load_at_startup  = ON
innodb_buffer_pool_dump_at_shutdown = ON
innodb_flush_log_at_trx_commit      = 1
sync_binlog                         = 1
binlog_format                       = ROW
binlog_row_image                    = FULL
skip_name_resolve                   = 1
max_connections                     = 1500
default_time_zone                   = +08:00
bind-address                        = 0.0.0.0
max_allowed_packet                  = 32M
wait_timeout                        = 900






