[Unit]
Description=MySQL Server
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target

[Service]
User=mysql
Group=mysql
ExecStart={{.MySQLDCommand}} --defaults-file={{.MySQLCnfPath}}
LimitNOFILE = 65536
LimitNPROC = 65535
# 重启条件
Restart=on-failure
# 退出码为1不重启, 即正常shutdown
RestartPreventExitStatus=1
# 重启条件满足后等多久自动重启(秒)
RestartSec=10
# 五分钟内只能重启两次，第三次不重启了
StartLimitInterval=300
# 五分钟内只能重启两次，第三次不重启了
StartLimitBurst=2
# 服务启动的超时时间，单位秒
TimeoutStartSec=30
# 服务关闭的超时时间，单位秒
TimeoutStopSec=30